.contact__list
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
}
.contact__item
{
    margin-bottom: 5px;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid rgb(156, 39, 65);
}
    .contact__item:hover
    {
        border: 2px solid rgb(39, 129, 156);
    }
.contact__label
{
    margin: 10px;
}
.contact__text_name
{
    color: rgb(82, 192, 82);
}
.contact__text_phone
{
    color: rgb(82, 82, 197);
}
.contact__text_name, .contact__text_phone
{
    margin-right: 10px;
    font-size: 18px;
}
.contact__text_span
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: rgb(211, 83, 83);
}
.contact__button
{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid brown;
    background-color: brown;
    color: white;
}
@media screen and (max-width: 720px)
{
    .contact__item
    {
        padding: 10px 30px;
    }
    .contact__label
    {
        margin: 8px;
    }
    .contact__text_name, .contact__text_phone, .contact__text_span
    {
        margin-right: 8px;
        font-size: 16px;
    }
    .contact__button
    {
        margin-left: 8px;
        width: 28px;
        height: 28px;
        font-size: 14px;
    }
}
@media screen and (max-width: 480px)
{
    .contact__item
    {
        padding: 8px 25px;
    }
    .contact__label
    {
        margin: 5px;
    }
    .contact__text_name, .contact__text_phone, .contact__text_span
    {
        margin-right: 6px;
        font-size: 14px;
    }
    .contact__button
    {
        margin-left: 2px;
        width: 25px;
        height: 25px;
        font-size: 10px;
    }    
}
@media screen and (max-width: 330px)
{
    .contact__list
    {
        margin-left: -40px;
    }
}